PORT=5000
MONGODB_URI=mongodb+srv://darshanb104:assam123@cluster0.gt4n4qw.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
